.actions-page
  h1
    padding: 30px 0 50px
    text-align: center
  .action-list
    font-size: 0
  .info-block
    margin-bottom: 50px
    display: block
    &:nth-child(3n + 1)
      width: 100%
      .info-block__content
        display: flex
      .info-block__txt-over
        width: 50%
      .info-block__img
        width: 50%
        &::before
          left: 0
          bottom: 40px
          transform: translateX(-50%)
    &:nth-child(3n + 2), &:nth-child(3n + 3)
      width: 50%
      display: inline-block
      vertical-align: top
      .info-block__img
        &::before
          right: 40px
          top: 0
          transform: translateY(-50%)
    &:nth-child(3n + 2)
      padding-right: 20px
    &:nth-child(3n + 3)
      padding-left: 20px
      margin-top: 100px
    &:hover
      .info-block__content
        background-color: $yellow
      .info-block__img
        &::before
          background-image: url(/img/actions/svg/arrow-yellow.svg)
  .info-block__content
    box-shadow: 0 0 35px rgba(0,0,0,0.06)
  .info-block__txt-over
    padding: 50px 90px 40px
  .info-block__img
    min-height: 340px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    position: relative
    &::before
      content: ''
      position: absolute
      width: 65px
      height: 65px
      border-radius: 50%
      background-color: #fff
      background: url(/img/actions/svg/arrow.svg) no-repeat center
  .info-block__txt
    max-width: 425px
    font-size: 16px
    position: relative
    z-index: 1
  .show-more
    padding-bottom: 70px
  .sign-in
    height: 350px
    padding-top: 50px
    background: url(/img/actions/podpiska.jpg) no-repeat center
    background-size: cover
    margin-bottom: 90px
    h3
      max-width: 650px
      margin: 0 auto
      text-align: center
  .sign-in__form
    max-width: 430px
    margin: 0 auto
    color: $lightGray
    font-size: 15px
    padding-top: 25px
    text-align: center
    input
      &[type="email"]
        display: block
        width: 100%
        background-color: transparent
        border: none
        border-bottom: 1px solid #e1e0e0
        font-size: 15px
        padding: 0 0 15px 0
        outline: none
        color: $lightGray
      &[type="checkbox"]
        display: none
    .terms
      cursor: pointer
      border-bottom: 1px dashed $lightGray
      &:hover
        border-bottom: none
    label
      line-height: 1
      margin-top: 15px
      padding-left: 30px
      display: inline-block
      position: relative
      margin-bottom: 40px
      &[for="agreement"]
        &::before, &::after
          content: ''
          position: absolute
          right: 100%
          top: 50%
          transform: translate(50%, -50%)
          border-radius: 50%
          margin-right: -5px
        &::before
          width: 20px
          height: 20px
          border: 1px solid $lightGray
        &::after
          display: none
          width: 8px
          height: 8px
          background-color: $lightGray
@media screen and (max-width: 1024px)
  .actions-page
    .info-block
      width: 75%!important
      margin: 0 auto 50px!important
      padding: 0!important
      display: block!important
    .info-block__txt-over
      width: 100%!important
      padding: 50px 55px 40px 90px
    .info-block__txt
      max-width: none
    .info-block__img
      width: 100%!important
      &::before
        right: 40px!important
        left: auto!important
        top: 0!important
        transform: translateY(-50%)!important
    .info-block__content
      flex-wrap: wrap
    .sign-in
      background-image: url(/img/actions/t_podpiska.jpg)
@media screen and (max-width: 736px)
  .actions-page
    .info-block
      width: 100%!important
    .info-block__content
      box-shadow: none
    .info-block__img
      min-height: 270px
    .action-list
      margin: 0 -30px
    .info-block__txt-over
      padding: 40px 30px 30px
    .sign-in
      height: 610px
      background-image: url(/img/actions/m_podpiska.jpg)
      h3
        max-width: 410px