.flat-page
  padding: 50px 40px 0
  .plans
    display: flex
    flex-basis: 1000px
  .general-plans
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    width: 26%
    a
      color: $lightGray
      font-size: 15px
      line-height: 1
      padding-bottom: 3px
      border-bottom: 1px dashed $lightGray
      &:hover
        border-bottom-color: transparent
    .plan__img
      margin: 20px auto 0
  .plan
    padding-bottom: 35px
    width: 100%
    a
      margin-left: 48px
      position: relative
      &::before
        content: ''
        position: absolute
        width: 28px
        height: 28px
        left: -48px
        top: 50%
        transform: translateY(-50%)
  .plan__img
    background-repeat: no-repeat
    background-position: center
    background-size: contain
  #general-plan
    padding-top: 35px
    .plan__img
      width: 100%
      padding-bottom: 57.695%
    a
      &::before
        background-image: url(/img/flat/genplan-icon.svg)
  #floor-plan
    .plan__img
      width: 69.235%
      padding-bottom: 26.925%
    a
      &::before
        background-image: url(/img/flat/floor-icon.svg)
  #section-plan
    .plan__img
      width: 46.155%
      padding-bottom: 38.465%
    a
      &::before
        background-image: url(/img/flat/section-icon.svg)
  .flat-plan
    text-align: center
    flex-basis: 740px
    .plan__img
      width: 480px
      height: 460px
      margin: 0 auto
    .views
      display: flex
      padding-top: 30px
      padding-bottom: 30px
      justify-content: center
      white-space: nowrap
      a
        padding: 5px 7px
        margin: 0 3px
        font-size: 15px
        color: $darkGray
        &.active, &:hover, &:active
          background-color: rgba(0,172,200, 0.15)
  .flat-params
    text-align: center
    font-size: 20px
    max-width: 440px
    h2
      font-size: 35px
      line-height: 45px
      font-family: bw_surco, sans-serif
    .price
      font-size: 40px
      line-height: 1
      font-weight: 500
      padding-top: 30px
      padding-bottom: 45px
    .param
      display: flex
      width: 40%
      justify-content: space-between
      white-space: nowrap
    .param__value
      color: $darkGreen
      font-weight: 500
      width: 40%
      padding-left: 20px
      text-align: left
    .buttons
      display: flex
      justify-content: space-between
      padding-top: 20px
      .btn-default
        padding-left: 30px
        padding-right: 30px
    .links
      font-size: 15px
      line-height: 20px
      display: flex
      justify-content: space-between
      padding: 45px 30px
      text-align: left
      a
        color: $lightGray
        position: relative
        padding-left: 60px
        &::before
          content: ''
          position: absolute
          left: 0
          width: 40px
          height: 40px
      .btn-pdf
        &::before
          background-image: url(/img/flat/download-icon.svg)
      .btn-email
        &::before
          background-image: url(/img/flat/email-icon.svg)
  .param-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .param-list--main
    padding-bottom: 60px
    .param
      &:nth-child(2n + 1)
        width: 30%
      &:nth-child(2n + 2)
        width: 60%
  .slide-block__header
    padding-bottom: 5px
    border-bottom: 2px solid #eaeaea
    cursor: pointer
    margin-bottom: 20px
    .h4
      &:after
        content: ''
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        width: 18px
        height: 10px
        background-image: url(/img/flat/arrow_down.svg)
    .star
      color: $lightGray
  .slide-block__content
    display: none
  .slide-block
    &.open
      .slide-block__content
        display: flex
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 2px solid #eaeaea
      .slide-block__header
        border-bottom: none
        .h4
          &::after
            background-image: url(/img/flat/arrow_up.svg)
  .mortgage-calc
    text-align: left
    width: 100%
    .input-group
      padding-bottom: 20px
    label
      display: block
      font-size: 15px
      color: $lightGray
    input
      display: block
      font-size: 30px
      line-height: 1
      padding: 5px 0
      border: none
      border-bottom: 2px solid #eaeaea
      outline: none
      width: 100%
    .result
      font-size: 30px
.flat-page__content
  display: flex
  align-items: baseline
  padding-bottom: 90px
