/*-------------FOOTER-------*/
.footer
  background-color: #2a2930
  color: #7a797e
  padding: 30px 40px
  position: relative
  .dev-logo
    display: inline-block
    width: 55px
    height: 24px
    vertical-align: middle
    margin-left: 10px
    background-image: url(/img/dev_logo.png)
    background-size: contain
    background-repeat: no-repeat
.footer-pattern
  height: 50px
  background: url(/img/footer_pattern.png) center left
  background-size: contain
  opacity: 0.3
  background-repeat-y: no-repeat
  position: absolute
  bottom: 30px
  left: 0
  right: 0
.footer__menu
  font-size: 0
  line-height: 1
  display: flex
  ul
    display: inline-block
    vertical-align: top
    li
      padding-bottom: 10px
    &:nth-child(1), &:nth-child(2)
      min-width: 220px
      width: 29%
    &:nth-child(3)
      min-width: 220px
      width: 22%
    &:nth-child(4)
      width: 20%
      min-width: 230px
  .top-level
    font-size: 12px
    text-transform: uppercase
    font-weight: 500
    color: #fff
    a
      color: #fff
  .sub-level
    font-size: 14px
    color: #7a797e
    a
      color: #7a797e
  .phone
    padding: 10px 0 15px
    font-size: 16px
    .number
      color: #fff
  .btn-default
    color: #fff
.footer__socials
  width: 20%
  display: flex
  margin-left: auto
.footer__social
  width: 28px
  height: 28px
  margin-right: 20px
  background-repeat: no-repeat
  background-size: contain
  opacity: 0.3
.footer__socials--fb
  background-image: url(/img/icon-fb.svg)
.footer__socials--tw
  background-image: url(/img/icon-tw.svg)
.footer__socials--vk
  background-image: url(/img/icon-vk.svg)
.footer__socials--ins
  background-image: url(/img/icon-ins.svg)
.footer__info
  display: flex
  padding: 25px 0 80px
  a
    color: #fff
    font-size: 14px
.footer__copyright
  font-size: 12px
  width: 29%
  min-width: 320px
  white-space: nowrap
.footer__pdf
  width: 51%
.footer__politics
  white-space: nowrap
@media screen and (max-width: 1200px)
  .footer-pattern
    background-size: cover
@media screen and (max-width: 1024px)
  .footer__menu
    flex-wrap: wrap
    ul
      &:nth-child(4)
        width: 100%
        margin-left: 50%
        padding: 40px 20px 0
  .footer__socials
    margin-left: 0
    width: auto
  .footer__info
    flex-wrap: wrap
    padding: 25px 0 35px
    position: relative
    width: 50%
    bottom: 167px
  .footer__copyright
    position: absolute
    bottom: -60px
    left: 100%
    padding-left: 20px
    width: auto
  .footer__pdf
    width: auto
    max-width: 260px
    padding-top: 10px
    line-height: 19px
  .footer__politics
    position: absolute
    top: 0
    left: 0
@media screen and (max-width: 736px)
  .footer
    padding: 40px 30px 100px
  .footer__menu
    padding-bottom: 340px
    .top-level
      font-size: 20px
    .sub-level
      display: none
    ul
      li
        padding-bottom: 20px
      &:nth-child(4)
        width: 100%
        margin-left: 0
        padding: 30px 0 0
        .top-level
          padding-bottom: 10px
        .sub-level
          font-size: 20px
          display: block
          padding-bottom: 10px
    .phone
      padding: 10px 0 15px
      font-size: 20px
  .footer__socials
    position: absolute
    bottom: 200px
  .footer__social
    width: 50px
    height: 50px
    margin-right: 35px
  .footer__info
    padding: 0
    position: absolute
    width: auto
    bottom: 250px
    a
      font-size: 20px
      line-height: 30px
      padding: 0 0 25px
      max-width: none
  .footer__copyright
    bottom: -130px
    left: 0
    padding-left: 0
    width: auto
    font-size: 15px
  .footer__politics
    position: static
/*---------END FOOTER-------*/



/*---------ACTIONS MODAL---------*/
.actions-modal
  position: fixed
  right: 0
  top: 100px
  width: 300px
  background-color: $orange
  z-index: 999
  height: 664px
  transform: translateX(100%)
  transition: all 0.3s ease
  &.open
    transform: translateX(0)
    .actions-modal__controls
      display: flex
    .actions-modal__tip
      display: none
  .actions-modal__content
    height: 660px
    overflow: hidden
  .actions-modal__item
    color: #fff
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: center
    height: 166px
    align-content: center
    .action__date
      color: #ffd100
    &::after
      content: ''
      position: absolute
      bottom: 0
      left: 20px
      right: 20px
      height: 3px
      background-color: $lightOrange
      border-radius: 2px
    &::before
      content: ''
      display: none
      width: 135px
      height: 135px
      background-color: $lightOrange
      opacity: 0.5
      border-radius: 50%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: -1
    &:hover
      &::before
        display: block
.actions-modal__controls
  display: none
  position: absolute
  right: 100%
  top: 70px
  width: 80px
  height: 240px
  background-color: $lightOrange
  flex-direction: column
  align-items: center
  justify-content: space-between
  padding: 30px 0 25px
  .btn-close
    width: 28px
    height: 28px
    background-image: url(/img/btn-close-white.svg)
    cursor: pointer
  .arrows
    height: 100px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    &::after
      content: ''
      position: absolute
      top: 50%
      left: -3px
      right: -3px
      height: 3px
      border-radius: 2px
      background-color: $orange
  .arrow
    width: 28px
    height: 16px
    cursor: pointer
    &.prev
      background-image: url(/img/arrow-up-white.svg)
    &.next
      background-image: url(/img/arrow-down-white.svg)
.actions-modal__tip
  position: absolute
  right: 100%
  top: 70px
  width: 80px
  height: 80px
  background-color: $orange
  background-image: url(/img/percent.png)
  font-size: 18px
  color: #fff
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
/*-------END ACTIONS MODAL-------*/