/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before
  box-sizing: border-box
body
  font-size: 16px
  font-weight: 400
  line-height: 1.875
  color: #000
  background-color: #fff
  margin: 0
  padding: 0
  font-family: geometria, sans-serif

h1,h2,h3,h4,h5,h6
  font-weight: 500
  margin: 0

h2
  font-size: 30px
  line-height: 40px

h3
  font-size: 22px
  line-height: 30px

h4
  font-size: 20px
  line-height: 28px

h5
  font-size: 18px
  line-height: 26px

a
  color: #000
  text-decoration: none

ul
  list-style: none
  padding: 0
  margin: 0

.wrapper-outer
  max-width: 1340px
  margin: 0 auto

.wrapper-inner
  max-width: 1256px
  margin: 0 auto

.dark-green
  color: $darkGreen!important

.light-green
  color: $lightGreen!important

.yellow
  color: $yellow!important

.orange
  color: $orange!important

.brown
  color: $brown!important

p
  margin: 35px 0
  font-weight: 500

.btn-default
  display: inline-block
  font-size: 14px
  line-height: 1
  padding: 8px 20px
  border: 2px solid
  border-radius: 17px
  text-decoration: none
.btn-medium
  font-size: 18px
  border-radius: 20px
.btn-green
  border-color: $lightGreen
  color: $lightGreen
.btn-green
  &:hover
    background-color: $lightGreen
    color: #fff
.action
  text-align: center
.action__date
  font-size: 15px
  line-height: 25px
  font-weight: 500
.action__main-line
  font-size: 22px
  line-height: 28px
  font-weight: 500
  text-transform: uppercase
.action__extra-line
  font-size: 20px
  line-height: 1
  font-weight: 300
@media screen and (max-width: 736px)
  .btn-default
    font-size: 18px
/*---------END GENERAL SETTINGS-------*/