/*---------HEADER-------*/
.header
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: 9999
  padding: 35px 40px 0
  background-color: #fff
  line-height: 1
  height: 100px
  .email
    width: 20px
    height: 14px
    background-image: url(/img/envelope-green.svg)
.sub-menu--main
  padding: 20px 0
  display: flex
  justify-content: center
  .sub-level
    font-size: 15px
    font-weight: 500
    padding: 0 7px
    &.active
      a
        color: $lightGreen
.header__extra-links
  height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  width: 260px
  margin-left: auto
  padding-right: 40px
  a
    color: #8d8a8a
  .psn
    font-size: 11px
  .online-camera
    font-size: 12px
    &::after
      content: ''
      display: inline-block
      width: 19px
      height: 18px
      background-image: url(/img/videocam.png)
      vertical-align: middle
      margin-left: 10px
.header__top-line
  position: absolute
  left: 0
  right: 0
  top: 0
  height: 35px
  background-color: #f7f7f7
  background-image: url(/img/header-pattern.png)
.header__bottom-line
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
.nested
  &::after
    content: ''
    display: inline-block
    vertical-align: middle
    background-size: contain
.header__nav
  width: 860px
  .top-menu
    display: flex
    justify-content: space-between
    padding: 0 20px
  .top-level
    a
      font-size: 15px
      color: #000
      text-transform: uppercase
      text-decoration: none
      font-weight: 600
      font-family: bw_surco, sans-serif
      &.nested
        &::after
          width: 6px
          height: 6px
          background-image: url(/img/small-cross-green.svg)
          margin-left: 5px
          margin-bottom: 3px
.phone
  .code
    font-weight: 300
  .number
    font-weight: 500
.header__contact
  display: flex
  justify-content: space-between
  align-items: center
  width: 380px
  min-width: 380px
  .phone
    font-size: 20px
.global-menu
  display: none
  position: fixed
  left: 0
  top: 0
  width: 50%
  background-color: #fff
  transform: translate(-100%, 0)
  transition: transform 0.5s ease
  z-index: 9999
  .top-menu
    padding: 70px 50px
    width: 100%
  .top-level
    padding-bottom: 35px
    a
      font-size: 20px
      color: #000
      text-transform: uppercase
      text-decoration: none
      font-weight: 600
      font-family: bw_surco, sans-serif
      &.nested
        &::after
          width: 8px
          height: 8px
          margin-left: 5px
          background-image: url(/img/small-cross-green.svg)
          margin-bottom: 5px
  &.open
    height: 100%
    transform: translate(0, 0)
    z-index: 10000
    .global-menu__control
      width: 100%
      position: fixed
    .burger-btn
      left: auto
      right: 20px
      span, &::before, &::after
        background-color: $lightGreen
  .top-level
    &.open
      padding-bottom: 20px
      .sub-menu
        display: block
      a
        &.nested
          &::after
            background-image: url(/img/small-minus-green.svg)
  .sub-menu
    padding-top: 20px
    display: none
  .sub-level
    padding-bottom: 15px
    a
      font-size: 18px
      font-weight: 500
      text-transform: none
      font-family: geometria, sans-serif
      position: relative
      padding-left: 20px
      &::before
        content: ''
        position: absolute
        width: 6px
        height: 6px
        left: 0
        top: 50%
        transform: translateY(-50%)
        border-radius: 50%
        background-color: $lightGreen
  .socials
    display: flex
    justify-content: space-between
    padding: 40px 0
    width: 260px
  .social
    width: 46px
    height: 46px
    background: no-repeat center
  .socials--fb
    background-image: url(/img/icon-fb-white.svg)
  .socials--vk
    background-image: url(/img/icon-vk-white.svg)
  .socials--ok
    background-image: url(/img/icon-ok-white.svg)
  .socials--ins
    background-image: url(/img/icon-inst-white.svg)
.global-menu__control
  height: 70px
  background-color: #ededed
  position: relative
.global-menu__content
  margin-top: 70px
  padding-bottom: 50px
  height: 100%
  overflow: auto
.global-menu__contact
  padding: 0 50px 50px
  .address
    font-size: 20px
    line-height: 30px
    color: #999999
  .phone
    padding: 10px 0 20px
    font-size: 24px
.header__logo
  width: 139px
  min-width: 139px
  height: 40px
  background-image: url(/img/logo.png)
  background-repeat: no-repeat
  background-position: center
  margin-top: -10px
.burger-btn
  span, &::before, &::after
    height: 3px
    left: 0
    right: 0
    position: absolute
    background-color: #999999
    border-radius: 2px
    content: ''
.burger-btn
  position: absolute
  width: 40px
  height: 30px
  cursor: pointer
  left: 100%
  margin-left: 15px
  top: 50%
  transform: translateY(-50%)
  span
    top: 0
    bottom: 0
    margin: auto
  &::before
    top: 0
  &::after
    bottom: 0
@media screen and (max-width: 1340px)
  .header
    height: 140px
    padding: 0
  .header__nav
    display: none
  .header__top-line
    display: none
  .header__bottom-line
    flex-wrap: wrap
  .header__logo
    height: 70px
    width: 100%
    margin: 0 0 0 -10px
    background-image: url(/img/logo-mobile.png)
  .header__contact
    height: 70px
    justify-content: center
    width: 100%
    background-color: #f7f7f7
  .header
    .phone
      font-size: 24px
      padding-right: 25px
    .btn-default
      font-size: 18px
      border-radius: 22px
    .email
      margin-left: 10px
  .global-menu
    display: block
  .sub-menu--main
    display: none
@media screen and (max-width: 736px)
  .header__contact
    .email
      display: none
  .global-menu
    width: 85%
/*---------END HEADER-------*/