/*--------PLAN FILTER---------*/
.plan-filter-page
  padding-top: 30px
  position: relative
  overflow: hidden
  .bee
    left: 90px
    top: 1150px
  .carrot
    top: 720px
    right: 23%
  .bird
    right: 120px
    top: 930px
  .trees
    left: 150px
    bottom: 200px
  h1
    text-align: center
    padding-bottom: 10px
  h5
    color: $darkGray
    text-align: center
  .big-figure
    top: 60%
    right: 0
    margin-right: -250px
  .filter-over
    padding-top: 60px
    padding-bottom: 90px
  .filter
    display: flex
  .filter__params
    width: 220px
  .filter__results-over
    padding-right: 300px
  .filter__results
    display: flex
    flex-wrap: wrap
    width: 910px
    align-items: flex-start
    .item
      position: relative
      width: 50%
      margin-bottom: 50px
      &:nth-child(2n+1)
        padding-right: 25px
        .hover-block
          margin-left: -12px
      &:nth-child(2n+2)
        padding-left: 25px
        .hover-block
          margin-left: 12px
        .item__desc
          left: 100%
      .price
        color: $orange
      &:hover
        .hover-block
          opacity: 1
        .item__desc
          display: block
    .item__img
      position: relative
      height: 425px
      background: #f7f7f7 no-repeat center
      background-size: contain
    .hover-block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 290px
      height: 290px
      background-color: rgba(0, 172, 200, 0.8)
      border-radius: 50%
      color: #fff
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-content: center
      opacity: 0
      transition: all 0.3s ease
      .h4
        text-transform: uppercase
        text-align: center
        width: 100%
        padding-bottom: 10px
    .item__desc
      position: absolute
      top: 0
      left: 200%
      margin-left: 35px
      width: 265px
      background-color: #fff
      box-shadow: 0 0 35px rgba(0,0,0,0.06)
      padding: 50px 40px 0
      text-align: center
      display: none
      .h4
        padding-bottom: 35px
        text-transform: uppercase
        font-weight: 600
      .plan-type
        margin-bottom: 40px
        position: relative
        &::after
          content: ''
          position: absolute
          top: 100%
          left: 50%
          transform: translate(-50%, -50%) rotateX(180deg)
          width: 142px
          height: 20px
          background-image: url(/img/svg-library/separator_hor.svg)
      .value
        font-weight: 400
        text-transform: none
        padding-top: 5px
  sup
    font-size: 12px
  .show-all
    text-align: center
@media screen and (max-width: 1500px)
  .plan-filter-page
    .bee, .bird
      display: none
    .filter-over
      max-width: 1200px
      margin: 0 auto
    .filter
      display: block
    .filter__params
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      padding-bottom: 60px
      .reset-filter
        &.visible-lg
          padding-top: 0
      .inputs
        display: flex
        flex-wrap: wrap
        justify-content: center
      .input-group
        &.house
          .inputs
            justify-content: space-between
            li
              &.special
                width: 100%
          .inputs--special
            display: block
      .input-group
        &.room
          .inputs
            li
              width: 50%
      .input-group
        &.finish
          .inputs
            li
              width: 100%
@media screen and (max-width: 1280px)
  .plan-filter-page
    .filter__results
      width: 100%
@media screen and (max-width: 1024px)
  .plan-filter-page
    .carrot
      top: 50%
      right: 0
    .trees
      left: 0
      top: 70%
    .filter__results-over
      padding-right: 0
    .filter-over
      padding-bottom: 80px
    .filter__params
      width: 75%
      margin: 0 auto
      justify-content: space-between
      padding-bottom: 70px
      .inputs
        display: block
      .input-group
        &.room
          .inputs
            li
              width: auto
    .reset-filter
      width: 100%
    .filter__results
      width: 100%
      border-top: 2px solid #e7e7e7
      padding-bottom: 50px
      .item
        margin: 0
        padding-top: 50px
        padding-bottom: 40px
        border-bottom: 2px solid #e7e7e7
        &:nth-child(2n+1)
          padding-right: 20px
        &:nth-child(2n+2)
          padding-left: 20px
      .item__img
        height: 350px
      .hover-block
        position: static
        opacity: 1
        background-color: transparent
        transform: none
        color: #000
        width: auto
        height: auto
        margin-left: 0!important
        .h1, .h4
          font-size: 20px
          text-transform: none
          display: inline-block
          width: auto
          font-weight: 400
          line-height: 1
        .h1
          padding-left: 5px
      .item__desc
        position: static
        display: block
        box-shadow: none
        padding-top: 40px
        margin: 0 auto
        background-color: transparent
        .plan-type
          margin-bottom: 0
          padding-bottom: 20px
        .h4
          display: none
          &::after
            display: none
        .plan-type
          display: block
@media screen and (max-width: 736px)
  .plan-filter-page
    .pattern
      display: none
    .big-figure
      display: none
    .filter__params
      width: 84%
      .inputs
        display: flex
        flex-wrap: wrap
        justify-content: center
      .input-group
        width: 100%
        &.house
          .inputs
            justify-content: space-between
            li
              &.special
                width: 100%
          .inputs--special
            display: block
      .input-group
        &.room
          .inputs
            li
              width: 30%
      .input-group
        &.finish
          .inputs
            li
              width: 50%
    .filter__results
      .item
        width: 100%
        padding: 50px 8% 40px!important
      .item__desc
        width: auto