/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: geometria, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0; }

h2 {
  font-size: 30px;
  line-height: 40px; }

h3 {
  font-size: 22px;
  line-height: 30px; }

h4 {
  font-size: 20px;
  line-height: 28px; }

h5 {
  font-size: 18px;
  line-height: 26px; }

a {
  color: #000;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.wrapper-outer {
  max-width: 1340px;
  margin: 0 auto; }

.wrapper-inner {
  max-width: 1256px;
  margin: 0 auto; }

.dark-green {
  color: #00acc8 !important; }

.light-green {
  color: #95d600 !important; }

.yellow {
  color: #ffd100 !important; }

.orange {
  color: #f38b00 !important; }

.brown {
  color: #5c4925 !important; }

.pattern-yellow {
  fill: none;
  stroke: #FFDC3E;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }

p {
  margin: 35px 0;
  font-weight: 500; }

.btn-default {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 8px 20px;
  border: 2px solid;
  border-radius: 17px;
  text-decoration: none; }

.btn-medium {
  font-size: 18px;
  border-radius: 20px; }

.btn-green {
  border-color: #95d600;
  color: #95d600; }

.btn-green:hover {
  background-color: #95d600;
  color: #fff; }

.action {
  text-align: center; }

.action__date {
  font-size: 15px;
  line-height: 25px;
  font-weight: 500; }

.action__main-line {
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase; }

.action__extra-line {
  font-size: 20px;
  line-height: 1;
  font-weight: 300; }

@media screen and (max-width: 736px) {
  .wrapper-inner {
    padding: 0 30px; }
  .btn-default {
    font-size: 18px; }
  p {
    font-size: 20px; } }

/*---------END GENERAL SETTINGS-------*/
/*---------HEADER-------*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 35px 40px 0;
  background-color: #fff;
  line-height: 1;
  height: 100px; }
  .header .email {
    width: 20px;
    height: 14px;
    background-image: url(/img/envelope-green.svg); }

.header__extra-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-left: auto;
  padding-right: 40px; }
  .header__extra-links a {
    color: #8d8a8a; }
  .header__extra-links .psn {
    font-size: 11px; }
  .header__extra-links .online-camera {
    font-size: 12px; }
    .header__extra-links .online-camera::after {
      content: '';
      display: inline-block;
      width: 19px;
      height: 18px;
      background-image: url(/img/videocam.png);
      vertical-align: middle;
      margin-left: 10px; }

.header__top-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 35px;
  background-color: #f7f7f7;
  background-image: url(/img/header-pattern.png); }

.header__bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.nested::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background-size: contain; }

.header__nav {
  width: 860px; }
  .header__nav .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px; }
  .header__nav .top-level a {
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: bw_surco, sans-serif; }
    .header__nav .top-level a.nested::after {
      width: 6px;
      height: 6px;
      background-image: url(/img/small-cross-green.svg);
      margin-left: 5px;
      margin-bottom: 3px; }
  .header__nav .sub-menu {
    padding-top: 20px;
    display: none; }
  .header__nav .sub-level {
    font-size: 18px;
    padding-bottom: 25px;
    font-weight: 500; }

.header__nav__control {
  display: none;
  height: 70px;
  background-color: #ededed;
  position: relative; }

.phone .code {
  font-weight: 300; }

.phone .number {
  font-weight: 500; }

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  min-width: 380px; }
  .header__contact .phone {
    font-size: 20px; }

.header__contact--mobile {
  padding: 0 50px;
  display: none; }
  .header__contact--mobile .address {
    font-size: 20px;
    line-height: 30px;
    color: #999999; }
  .header__contact--mobile .phone {
    padding: 10px 0 20px; }

.header__logo {
  width: 139px;
  min-width: 139px;
  height: 40px;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -10px; }

.burger-btn span, .burger-btn::before, .burger-btn::after {
  height: 3px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #999999;
  border-radius: 2px;
  content: ''; }

.burger-btn {
  position: absolute;
  width: 40px;
  height: 30px;
  cursor: pointer;
  left: 100%;
  margin-left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .burger-btn span {
    top: 0;
    bottom: 0;
    margin: auto; }
  .burger-btn::before {
    top: 0; }
  .burger-btn::after {
    bottom: 0; }

@media screen and (max-width: 1340px) {
  .header {
    height: 140px;
    padding: 0; }
  .header__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
    background-color: #fff;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header__nav .top-menu {
      padding: 70px 50px;
      width: 100%;
      display: block; }
    .header__nav .top-level {
      padding-bottom: 35px; }
      .header__nav .top-level a {
        font-size: 20px; }
        .header__nav .top-level a.nested::after {
          width: 8px;
          height: 8px;
          margin-bottom: 5px; }
    .header__nav.open {
      height: 100vh;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
      .header__nav.open .header__nav__control {
        width: 100%; }
      .header__nav.open .burger-btn {
        left: auto;
        right: 20px; }
        .header__nav.open .burger-btn span, .header__nav.open .burger-btn::before, .header__nav.open .burger-btn::after {
          background-color: #95d600; }
    .header__nav .top-level.open {
      padding-bottom: 20px; }
      .header__nav .top-level.open .sub-menu {
        display: block; }
  .header__nav__control {
    display: block; }
  .header__top-line {
    display: none; }
  .header__bottom-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__logo {
    height: 70px;
    width: 100%;
    margin: 0;
    background-image: url(/img/logo-mobile.png); }
  .header__contact {
    height: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #f7f7f7; }
  .header__contact--mobile {
    display: block; }
  .header .phone {
    font-size: 24px;
    padding-right: 25px; }
  .header .btn-default {
    font-size: 18px; }
  .header .email {
    margin-left: 10px; } }

@media screen and (max-width: 736px) {
  .header__contact .email {
    display: none; }
  .header__nav {
    width: 85%; } }

/*---------END HEADER-------*/
/*-------------FOOTER-------*/
.footer {
  background-color: #2a2930;
  color: #7a797e;
  padding: 30px 40px;
  position: relative; }
  .footer .dev-logo {
    display: inline-block;
    width: 55px;
    height: 24px;
    vertical-align: middle;
    margin-left: 10px;
    background-image: url(/img/dev_logo.png);
    background-size: contain;
    background-repeat: no-repeat; }

.footer-pattern {
  height: 50px;
  background: url(/img/footer_pattern.png) center left;
  background-size: contain;
  opacity: 0.3;
  background-repeat-y: no-repeat;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0; }

.footer__menu {
  font-size: 0;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer__menu ul {
    display: inline-block;
    vertical-align: top; }
    .footer__menu ul li {
      padding-bottom: 10px; }
    .footer__menu ul:nth-child(1), .footer__menu ul:nth-child(2) {
      min-width: 220px;
      width: 29%; }
    .footer__menu ul:nth-child(3) {
      min-width: 220px;
      width: 22%; }
    .footer__menu ul:nth-child(4) {
      width: 20%;
      min-width: 230px; }
  .footer__menu .top-level {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff; }
    .footer__menu .top-level a {
      color: #fff; }
  .footer__menu .sub-level {
    font-size: 14px;
    color: #7a797e; }
    .footer__menu .sub-level a {
      color: #7a797e; }
  .footer__menu .phone {
    padding: 10px 0 15px;
    font-size: 16px; }
    .footer__menu .phone .number {
      color: #fff; }
  .footer__menu .btn-default {
    color: #fff; }

.footer__socials {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }

.footer__social {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3; }

.footer__socials--fb {
  background-image: url(/img/icon-fb.svg); }

.footer__socials--tw {
  background-image: url(/img/icon-tw.svg); }

.footer__socials--vk {
  background-image: url(/img/icon-vk.svg); }

.footer__socials--ins {
  background-image: url(/img/icon-ins.svg); }

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 80px; }
  .footer__info a {
    color: #fff;
    font-size: 14px; }

.footer__copyright {
  font-size: 12px;
  width: 29%;
  min-width: 320px;
  white-space: nowrap; }

.footer__pdf {
  width: 51%; }

.footer__politics {
  white-space: nowrap; }

@media screen and (max-width: 1200px) {
  .footer-pattern {
    background-size: cover; } }

@media screen and (max-width: 1024px) {
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer__menu ul:nth-child(4) {
      width: 100%;
      margin-left: 50%;
      padding: 40px 20px 0; }
  .footer__socials {
    margin-left: 0;
    width: auto; }
  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px 0 35px;
    position: relative;
    width: 50%;
    bottom: 167px; }
  .footer__copyright {
    position: absolute;
    bottom: -60px;
    left: 100%;
    padding-left: 20px;
    width: auto; }
  .footer__pdf {
    width: auto;
    max-width: 260px;
    padding-top: 10px;
    line-height: 19px; }
  .footer__politics {
    position: absolute;
    top: 0;
    left: 0; } }

@media screen and (max-width: 736px) {
  .footer {
    padding: 40px 30px 100px; }
  .footer__menu {
    padding-bottom: 340px; }
    .footer__menu .top-level {
      font-size: 20px; }
    .footer__menu .sub-level {
      display: none; }
    .footer__menu ul li {
      padding-bottom: 20px; }
    .footer__menu ul:nth-child(4) {
      width: 100%;
      margin-left: 0;
      padding: 30px 0 0; }
      .footer__menu ul:nth-child(4) .top-level {
        padding-bottom: 10px; }
      .footer__menu ul:nth-child(4) .sub-level {
        font-size: 20px;
        display: block;
        padding-bottom: 10px; }
    .footer__menu .phone {
      padding: 10px 0 15px;
      font-size: 20px; }
  .footer__socials {
    position: absolute;
    bottom: 200px; }
  .footer__social {
    width: 50px;
    height: 50px;
    margin-right: 35px; }
  .footer__info {
    padding: 0;
    position: absolute;
    width: auto;
    bottom: 250px; }
    .footer__info a {
      font-size: 20px;
      line-height: 30px;
      padding: 0 0 25px;
      max-width: none; }
  .footer__copyright {
    bottom: -130px;
    left: 0;
    padding-left: 0;
    width: auto;
    font-size: 15px; }
  .footer__politics {
    position: static; } }

/*---------END FOOTER-------*/
/*---------ACTIONS MODAL---------*/
.actions-modal {
  position: fixed;
  right: 0;
  top: 100px;
  width: 300px;
  background-color: #f38b00;
  z-index: 999;
  height: 664px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .actions-modal.open {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
    .actions-modal.open .actions-modal__controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .actions-modal.open .actions-modal__tip {
      display: none; }
  .actions-modal .actions-modal__content {
    height: 660px;
    overflow: hidden; }
  .actions-modal .actions-modal__item {
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 166px;
    -ms-flex-line-pack: center;
        align-content: center; }
    .actions-modal .actions-modal__item .action__date {
      color: #ffd100; }
    .actions-modal .actions-modal__item::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 3px;
      background-color: #f5a600;
      border-radius: 2px; }
    .actions-modal .actions-modal__item::before {
      content: '';
      width: 0;
      height: 0;
      background-color: #f5a600;
      opacity: 0.5;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .actions-modal .actions-modal__item:hover::before {
      width: 135px;
      height: 135px; }

.actions-modal__controls {
  display: none;
  position: absolute;
  right: 100%;
  top: 70px;
  width: 80px;
  height: 240px;
  background-color: #f5a600;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 25px; }
  .actions-modal__controls .btn-close {
    width: 28px;
    height: 28px;
    background-image: url(/img/btn-close-white.svg);
    cursor: pointer; }
  .actions-modal__controls .arrows {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative; }
    .actions-modal__controls .arrows::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -3px;
      right: -3px;
      height: 3px;
      border-radius: 2px;
      background-color: #f38b00; }
  .actions-modal__controls .arrow {
    width: 28px;
    height: 16px;
    cursor: pointer; }
    .actions-modal__controls .arrow.prev {
      background-image: url(/img/arrow-up-white.svg); }
    .actions-modal__controls .arrow.next {
      background-image: url(/img/arrow-down-white.svg); }

.actions-modal__tip {
  position: absolute;
  right: 100%;
  top: 70px;
  width: 80px;
  height: 80px;
  background-color: #f38b00;
  background-image: url(/img/percent.png);
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 1024px) {
  .actions-modal {
    top: 0; }
  .actions-modal__tip {
    top: 0;
    width: 72px;
    height: 70px; }
  .actions-modal__controls {
    top: 0; } }

/*-------END ACTIONS MODAL-------*/
.main-page {
  overflow: hidden; }

.slider-over {
  position: relative; }

.main-slider .video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
  .main-slider .video .btn-video, .main-slider .video .btn-stop, .main-slider .video .btn-mute {
    cursor: pointer; }
  .main-slider .video.play .video-wrapper {
    display: block; }
  .main-slider .video.play .btn-video {
    display: none; }
  .main-slider .video.play .btn-stop, .main-slider .video.play .btn-mute {
    display: block; }
  .main-slider .video.muted .btn-mute {
    background-image: url(/img/video_unmute.svg); }

.main-slider .video-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%; }

.main-slider .btn-video {
  position: absolute;
  right: 50px;
  bottom: 50px;
  color: #FFF;
  width: 150px;
  text-align: center; }

.main-slider .btn-video-icon {
  width: 100px;
  height: 100px;
  background-image: url(/img/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto; }

.main-slider .btn-video-title {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; }

.main-slider .video .btn-stop {
  display: none;
  background-image: url(/img/video_close.svg);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 50px; }

.main-slider .video .btn-mute {
  background-image: url(/img/video_mute.svg);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: none; }

.main-slider .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  padding: 0 30px;
  margin-top: -100px; }

.main-slider .owl-prev::before, .main-slider .owl-next::before {
  content: '';
  width: 60px;
  height: 100px;
  background-image: url(/img/arrows.png);
  background-repeat: no-repeat; }

.main-slider .owl-prev::before {
  float: left;
  background-position: center left; }

.main-slider .owl-next::before {
  float: right;
  background-position: center right; }

.main-slider .owl-dots {
  position: absolute;
  text-align: center;
  bottom: 30px;
  left: 0;
  right: 0; }

.main-slider .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 0 10px; }
  .main-slider .owl-dot.active {
    background-color: white; }

.main-slider-item {
  height: 0;
  padding: 0 0 41.5% 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }

.green-bar {
  height: 135px;
  background-color: #95d600;
  padding: 0 40px;
  color: #fff;
  overflow: hidden; }

.green-bar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.green-bar__action {
  color: #fff;
  position: relative;
  z-index: 0; }
  .green-bar__action .action__date {
    color: #ffdc3e; }
  .green-bar__action::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #f38b00;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .green-bar__action:hover::after {
    width: 165px;
    height: 165px; }

.green-bar__pattern {
  width: 90px;
  height: 80px;
  position: relative; }

.sign-in {
  padding: 40px 0 90px;
  text-align: center; }
  .sign-in a {
    border-bottom: 1px dashed #00acc8;
    padding-bottom: 3px; }
    .sign-in a:hover {
      border-bottom-color: transparent; }
  .sign-in .envelope {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 14px;
    background-image: url(/img/envelope-dark-green.svg);
    margin-left: 10px; }

.info-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px; }
  .info-block h2 {
    padding-bottom: 10px; }
  .info-block h5 {
    color: #595959; }
  .info-block .info-block__txt-over {
    padding: 50px 90px 40px; }
  .info-block .info-block__img {
    min-height: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .info-block .info-block__txt {
    max-width: 425px;
    font-size: 16px; }

.info-block--main {
  box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-bottom: 120px;
  position: relative; }
  .info-block--main h2 {
    max-width: 270px;
    padding-top: 40px; }
  .info-block--main .info-block__img {
    width: 444px;
    height: 444px; }
  .info-block--main .info-block__txt {
    max-width: 350px;
    font-weight: 500; }
  .info-block--main .wave-left {
    top: -10px;
    left: -170px; }

.info-block--hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .info-block--hor .info-block__txt-over {
    width: 50%; }
  .info-block--hor .info-block__img {
    width: 50%; }

.info-block--vert__over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.info-block--vert {
  max-width: 600px; }
  .info-block--vert:nth-child(2) {
    margin-top: 100px; }

.show-more {
  text-align: center; }
  .show-more .btn-default {
    font-size: 18px;
    border-radius: 20px; }

.main-offer {
  padding-top: 80px;
  margin-bottom: 70px; }
  .main-offer h2 {
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    z-index: 1; }

.main-offer__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-offer__graphics {
  background-repeat: no-repeat;
  background-position: center; }

.main-offer__plan {
  width: 50%;
  background-color: #f2f2f2;
  background-position: 30% center;
  min-height: 449px; }

.main-offer__img {
  width: 50%;
  min-height: 449px;
  background-size: cover; }

.main-offer__info {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1;
  padding-top: 110px; }
  .main-offer__info .params {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 0; }
  .main-offer__info .param {
    padding: 0 50px;
    position: relative; }
    .main-offer__info .param:first-child::after {
      content: '';
      position: absolute;
      width: 49px;
      height: 84px;
      background-image: url(/img/separator_gray.png);
      background-repeat: no-repeat;
      left: 100%;
      top: -5px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .main-offer__info .param__name {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 25px; }
  .main-offer__info .param__value {
    font-size: 30px; }
    .main-offer__info .param__value sup {
      font-size: 15px; }
  .main-offer__info .room-count {
    font-size: 40px;
    font-weight: 500;
    font-family: bw_surco, sans-serif;
    padding-bottom: 20px; }
  .main-offer__info .price {
    font-size: 40px;
    font-weight: 500; }

.scroll-top {
  text-align: center;
  margin-bottom: 30px; }
  .scroll-top a {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    color: #95d600;
    position: relative;
    font-weight: 500; }
    .scroll-top a::before {
      position: absolute;
      content: '';
      top: -10px;
      width: 90px;
      height: 15px;
      background-image: url(/img/scroll_down_up.svg);
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.main-offer {
  position: relative; }
  .main-offer .owl-dots {
    position: absolute;
    bottom: 60px;
    line-height: 1;
    left: 0;
    right: 0;
    text-align: center; }
  .main-offer .show-all {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    line-height: 1;
    z-index: 1; }
    .main-offer .show-all a {
      border-bottom: 1px solid #00acc8;
      font-size: 15px; }
      .main-offer .show-all a:hover {
        border-bottom-color: transparent; }

.big-pattern {
  position: absolute; }

.benefits {
  position: relative; }
  .benefits .info-block__img {
    position: relative;
    z-index: 1; }
  .benefits .big-pattern {
    width: 520px;
    right: -120px;
    top: 250px; }
  .benefits .circle:nth-child(1) {
    right: -350px;
    top: 200px; }
  .benefits .circle:nth-child(2) {
    left: -370px;
    top: 300px; }
  .benefits .wave-right {
    bottom: -300px;
    right: -170px; }

.benefit-list {
  opacity: 0.99; }

.main-offer .owl-dot, .benefits .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #95d600;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px; }
  .main-offer .owl-dot.active, .benefits .owl-dot.active {
    opacity: 1; }

.big-figure {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .big-figure.circle {
    width: 500px;
    height: 500px;
    background-image: url(/img/circle-yellow.svg); }
  .big-figure.wave-right {
    width: 630px;
    height: 300px;
    background-image: url(/img/wave-green-right.png); }
  .big-figure.wave-left {
    width: 431px;
    height: 154px;
    background-image: url(/img/wave-green-left.png); }

@media screen and (max-width: 1024px) {
  .main-slider .btn-video {
    display: none; }
  .main-slider .owl-nav {
    margin-top: -50px; }
  .main-slider-item {
    padding: 0 0 395px 0; }
  .sign-in {
    padding-bottom: 60px; }
  .green-bar {
    padding: 0; }
  .green-bar__action:nth-last-child(2) {
    display: none; }
  .green-bar__pattern:last-child {
    display: none; }
  .info-block--main {
    padding: 0 15% 100px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .info-block--main h2 {
      padding-top: 30px; }
    .info-block--main .wave-left {
      width: 265px;
      height: 95px;
      left: 0;
      top: 30%; }
    .info-block--main .info-block__img {
      width: 314px;
      height: 314px;
      min-height: 0;
      margin-right: -55px; }
    .info-block--main .info-block__txt {
      max-width: 100%;
      padding-top: 45px; }
  .benefits {
    padding-bottom: 50px; }
    .benefits .big-pattern {
      top: auto;
      right: auto;
      left: -270px;
      bottom: -20px; }
    .benefits .owl-stage {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-top: 35px;
      font-size: 0; }
    .benefits .info-block {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 0; }
    .benefits .info-block__img {
      width: 100%;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .benefits .info-block__txt-over {
      padding: 50px 40px 40px; }
    .benefits .info-block--hor .info-block__img {
      width: 100%; }
    .benefits .info-block--hor .info-block__txt-over {
      width: 100%; }
    .benefits .info-block--vert {
      max-width: none; }
      .benefits .info-block--vert:nth-child(2) {
        margin-top: 0; }
    .benefits .circle {
      width: 312px;
      height: 312px; }
      .benefits .circle:nth-child(1) {
        right: -100px;
        top: 360px; }
      .benefits .circle:nth-child(2) {
        display: none; }
    .benefits .wave-right {
      display: none; }
  .show-more {
    display: none; }
  .main-offer h2 {
    display: none; }
  .main-offer .show-all {
    left: 50%; }
  .main-offer .owl-dots {
    left: 50%; }
  .main-offer__img {
    display: none; }
  .main-offer__info {
    width: 50%;
    height: auto;
    position: static;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
    padding-top: 50px; } }

@media screen and (max-width: 768px) {
  .benefits .info-block__img {
    min-height: 300px; } }

@media screen and (max-width: 736px) {
  .main-slider-item {
    padding: 0 0 415px 0; }
  .green-bar__action:nth-child(4) {
    display: none; }
  .green-bar__pattern:nth-child(5) {
    display: none; }
  .info-block--main {
    max-width: 100%;
    padding: 0; }
    .info-block--main h2 {
      padding-bottom: 35px;
      max-width: none; }
    .info-block--main .info-block__img {
      width: 355px;
      height: 355px;
      margin: 0 auto; }
    .info-block--main .info-block__txt {
      font-size: 20px;
      padding-top: 35px; }
    .info-block--main .wave-left {
      display: none; }
  .main-offer .owl-dot, .benefits .owl-dot {
    width: 15px;
    height: 15px;
    margin: 0 15px; }
  .benefits {
    margin: 0 -30px;
    padding-bottom: 35px;
    padding-top: 230px;
    width: auto; }
    .benefits .big-pattern {
      top: -50px;
      right: -120px;
      left: auto;
      bottom: auto; }
    .benefits .info-block {
      box-shadow: none; }
    .benefits .info-block__img {
      min-height: 275px; }
    .benefits .info-block__txt-over {
      padding: 50px 50px 0; }
    .benefits .owl-dots {
      text-align: center;
      line-height: 1;
      padding: 30px 0; }
    .benefits .circle:nth-child(1) {
      width: 500px;
      height: 500px;
      right: -350px;
      top: 72%; }
  .main-offer {
    padding-top: 0;
    padding-bottom: 90px; }
    .main-offer .owl-dots {
      left: 0;
      bottom: -55px; }
    .main-offer .show-all {
      left: 0;
      bottom: 0; }
  .main-offer__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-offer__plan {
    display: none; }
  .main-offer__img {
    display: block;
    width: 100%;
    min-height: 300px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0; }
  .main-offer__info {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 30px; } }

.content {
  padding-top: 100px; }

@media screen and (max-width: 1340px) {
  .content {
    padding-top: 140px; } }
